<div class="card product-table table-responsive">
  <p-table class="table" [value]="items" dataKey="id" styleClass="p-datatable-gridlines"
    [tableStyle]="{ 'min-width': '75rem' }" selectionMode="single" [(selection)]="selectedItem">
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 35%">Product</th>
        <th style="width: 6%">Batch</th>
        <th style="width: 6%">Expiry Date</th>
        <th style="width: 6%">MRP</th>
        <th style="width: 8%">Qty</th>
        <th style="width: 8%">Disc %</th>
        <th style="width: 6%">Tax</th>
        <th style="width: 6%">Sales Tax</th>
        <th style="width: 6%">Amount</th>
        <th style="width: 6%">Tax Amount</th>
        <th style="width: 10%">Final Amount</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
      <tr [pSelectableRow]="item">
        <td class="product-names">
          <p-dropdown #dropdownRef [options]="products" [id]="'Prd_'+item.id" optionLabel="name" optionValue="id"
            [(ngModel)]="item.productId" [showClear]="false" styleClass="ui-column-filter" [filter]="true"
            appendTo="body" filterBy="name" [editable]="true" (onChange)="onProductChange($event,item)"
            (onFocus)="onProductFocusEvent(item.id)"></p-dropdown>
        </td>
        <td>{{ item.batch }}</td>
        <td>{{ item.expiryDate }}</td>
        <td>{{ item.mrp | number:'1.2-2' }}</td>
        <td>
          <p-inputNumber [min]="0" [max]="100" [(ngModel)]="item.qty" (onBlur)="reCalculateItems(item)">
          </p-inputNumber>
        </td>
        <td>
          <p-inputNumber [min]="0" [max]="100" [minFractionDigits]="2" [maxFractionDigits]="2"
            [(ngModel)]="item.discPercent" (onBlur)="reCalculateItems(item)">
          </p-inputNumber>
        </td>
        <td>{{ item.tax }}</td>
        <td>{{ item.salesTax }}</td>
        <td>{{ item.amount | number:'1.2-2' }}</td>
        <td>{{ item.taxAmount | number:'1.2-2' }}</td>
        <td>{{ item.finalAmount | number:'1.2-2' }}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="footer">
      <tr>
        <td>Total Items: {{this.totalObj?.count }}</td>
        <td></td>
        <td></td>
        <td></td>
        <td>{{ this.totalObj?.qty }}</td>
        <td></td>
        <td></td>
        <td></td>
        <td>{{ this.totalObj?.amount| number:'1.2-2' }}</td>
        <td>{{ this.totalObj?.taxAmount| number:'1.2-2'}}</td>
        <td>{{ this.totalObj?.finalAmount| number:'1.2-2' }}</td>
      </tr>
    </ng-template>
  </p-table>
  <div class="heading-btn">
    <button class="btnn" (click)="addItem()" [disabled]="isAddItemDisabled()"><img src="../../assets/images/add.png"
        alt=""> Add item</button>
    <button class="btnn delete" [disabled]="isDeleteItemDisabled()" (click)="deleteItem()"><img
        src="../../assets/images/delete.png" alt=""> Remove
      item</button>
  </div>
</div>